/* QuantumEdge software INC  */


.header-left .quantum img {
  width: 180px !important;
  height: 55px !important;
}

.WebDevelopment-float {
  background-color: #4f9913;
  padding: 5px 15px;
  border-radius: 20px;
}

/* Apply Form */
.apply-container {
  /* border: 1px solid red; */
  width: 50%;
  height: 100%;
  margin: 0px auto;
}

.apply-container input {
  color: black;
}

.apply-container form {
  padding: 30px 0 0 0;
}

.apply-container form .form-row {
  display: flex;
  margin: 32px 0;
}

form .form-row .input-data {
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}

form .form-row .textarea {
  height: 70px;
}

.input-data input {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

.input-data input:focus ~ label,
.textarea textarea:focus ~ label,
.input-data input:valid ~ label {
  transform: translateY(-20px);
  font-size: 14px;
  color: var(--theme);
}

.input-data label {
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.input-data .underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}

.input-data .underline:before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: var(--theme);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before {
  transform: scale(1);
}

.submit-btn {
  border: 1px solid var(--theme);
  padding: 8px 40px;
  color: var(--theme);
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.submit-btn:hover {
  border: 1px solid var(--theme);
  padding: 8px 40px;
  color: white;
  background-color: var(--theme);
  transition: all 0.2s ease-in;
}

@media (max-width: 1024px) {
  .apply-container {
    width: 100%;
  }
}